header{
height: 200px;
width: 100%;
background-color: chartreuse;
}
body{
height: 100%;
}
.top{
height: 700px;
float: left;
}
.cat{
background-color: chocolate;
width: 20%;
}
.dog{
background-color: violet;
width: 40%;
}
.bear{
background-color: khaki;
width: 20%;
}
.bird{
background-color: lightblue;
width: 20%;
}
footer{
clear: both;
height: 200px;
width: 100%;
background-color: indigo;
}